.navbar{
    background-color: $color_two;
    .nav_ul{
            ul{
                li{
                    a{
                        font-size: 16px;
                        line-height: 28px;
                        font-weight: 500;
                        font-family: $font_one;
                        color: $color_three;
                        text-transform: capitalize;
                    }
                }
            }
        }
        .nav_btn{
           
            button{
                font-size: 16px;
                line-height: 28px;
                font-weight: 500;
                font-family: $font_one;
                color: $color_one;
                padding: 16px 48px;
                background-color: $color_two;
                border: 2px solid rgba(244, 246, 252, 0.2);
                border-radius: 41px;
                

            }
        }
   
}